/* App.module.css */
.roundedImageWrapper {
  overflow: hidden;
  border-radius: 15px; /* Adjust the border-radius to control the level of rounding */
}
  
  .circularImage {
    width: 100%;
    height: 100%;
  }
  